<ion-header>
  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="newcontact()">
          <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item text-wrap *ngFor="let c of contacts">
      <p (click)="contactdetail(c.objectId, c.abid)"><b>{{ c.composeName }} </b><br>
      </p>
    </ion-item>  
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="nextpage($event)" *ngIf="nxp != false">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="More data &hellip;"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
