<ion-header>
  <ion-navbar>
    <ion-title>{{'web2cs_messages' | translate }}</ion-title>
    <ion-buttons start>
        <button ion-button (click)="newfolder()">
            <ion-icon name="md-add"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding >
  <p>{{'settings_usage_title' | translate }} {{ accountSize }} Ko  / {{ accountMaxSize/1024/1024 }} Go. </p>
  <ion-list *ngIf="statuserrcode == 0">
    <ion-item *ngFor="let du of data">
      <ion-row>
        <p (click)="mails(du.id, du.label)" col-7>{{ du.label }} ({{ du.unread }})</p>
        <button ion-button *ngIf="du.actionsDisabled[0]!= 'MOVE' && du.actionsDisabled[0] != 'ADDCHILD'" col-2 text-center (click)="editfolder(du.label, du.objectId)"> <ion-icon name="md-create"></ion-icon></button>
        <button ion-button *ngIf="du.actionsDisabled[0]!= 'MOVE' && du.actionsDisabled[0] != 'ADDCHILD'" col-2 text-center (click)="deletefolder(du.objectId)"> <ion-icon name="ios-trash-outline"></ion-icon></button>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="statuserrcode != 0">
    <p>Erreur de connection</p>
  </ion-list>
</ion-content>
