<ion-header>
  <ion-navbar>
    <ion-title>tasksfolders</ion-title>
    <ion-buttons start>
      <button ion-button (click)="newfolder()">
          <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)" (ionPull)="doPulling($event)">
      <ion-refresher-content
      pullingText="Pull to refresh..."
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
   <ion-item text-wrap *ngFor="let t of data">
     <ion-row>
      <ion-col col-8>
      <p (click)="gettasks(t.objectId)">
        {{ t.label }} 
      </p> </ion-col> 
      
      <ion-col col-2 *ngIf="t.objectId != '1'">
        <button ion-button (click)="edittaskfolder(t.objectId, t.label)">
          <ion-icon name="md-create"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2 *ngIf="t.objectId != '1'">
        <button ion-button (click)="trashtaskfolder(t.objectId)">
          <ion-icon name="ios-trash-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
   </ion-item>
  </ion-list>
</ion-content>
<!--ion-footer>
  <ion-buttons end>
    <button ion-button (click)="newfolder()">Creer un taskgroup</button>  
  </ion-buttons> 
</ion-footer-->
