<ion-header>
  <ion-navbar>
    <ion-title>notesfolders</ion-title>
    <ion-buttons start>
      <button ion-button (click)="newfolder()">
          <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item text-wrap *ngFor="let n of itemslists">
      <ion-row>
        <p (click)="loadNotes(n.objectId, n.label)" col-8>{{ n.label }}</p>
        <ion-col col-2 *ngIf="n.objectId > 1">
            <button ion-button (click)="editnotefolder(n.objectId, n.label)">
                <ion-icon name="md-create"></ion-icon>
              </button>
        </ion-col>
        <ion-col col-2 *ngIf="n.objectId > 1">
            <button ion-button (click)="trashnotefolder(n.objectId)">
                <ion-icon name="ios-trash-outline"></ion-icon>
            </button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <!--ion-buttons end>
    <button ion-button (click)="newfolder()">Creer une nouveau dossier</button>  
  </ion-buttons--> 
</ion-footer>