<ion-header>
  <ion-navbar>
    <ion-title>Contacts</ion-title>
    <ion-buttons start>
        <button ion-button (click)="newfolder()">
            <ion-icon name="md-add"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item text-wrap *ngFor="let a of abooks">
      <ion-row>
        <p (click)="contactslist(a.objectId, a.label)" col-7>{{ a.label }}</p>
        <button ion-button col-2 *ngIf="a.objectId != '' && a.objectId != 'oab' && a.objectId != 'cab'" (click)="editlistname(a.objectId, a.label)">
          <ion-icon name="md-create"></ion-icon>
        </button>
        <button ion-button col-2 *ngIf="a.objectId != '' && a.objectId != 'oab' && a.objectId != 'cab'" (click)="deleteabook(a.objectId)">
          <ion-icon name="ios-trash-outline"></ion-icon>
        </button>        
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>

<!--ion-footer>
  <ion-buttons end>
    <button ion-button (click)="newfolder()">Creer un carnet d'adresses</button>  
  </ion-buttons> 
</ion-footer-->