<ion-header>
  <ion-navbar>
    <ion-row>
    <ion-title col-6>{{ title }}</ion-title>
    <!--ion-buttons col-4>
      <button ion-button col-6 text-right><ion-icon name="md-menu"></ion-icon></button-->
    <!--/ion-buttons--></ion-row>
  </ion-navbar>
  <ion-row>
    <ion-searchbar
      [(ngModel)]="myInput"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-row>
</ion-header>
<ion-content>
  <ion-list>
    <div *ngIf="items">
      <ion-item text-wrap *ngFor="let mail of items">
        <ion-row>
          <ion-col col-9><b *ngIf="mail.isUnread == true">
            <p (click)="loadMail(mail.objectId, mail.objectFolder)">
            from: {{ mail.from}} <br> 
            {{ mail.date }} <br>
            {{ mail.subject }} 
            </p>
          </b> 
          <p *ngIf="mail.isUnread != true" (click)="loadMail(mail.objectId, mail.objectFolder)">
              from: {{ mail.from}} <br> 
              {{ mail.date }} <br>
              {{ mail.subject }} 
            </p> </ion-col>
        <ion-col text-right>
          <ion-icon name="attach" *ngIf="mail.icoattach == true"></ion-icon><br>
          <ion-icon name="flag" *ngIf="mail.isFlagged != false"></ion-icon><br>
          <ion-icon name="information-circle" *ngIf="mail.isPriority == true"></ion-icon>
        </ion-col>
        </ion-row>
      </ion-item> 
    </div> 
    <div *ngIf="!items">
      <ion-item text-wrap *ngFor="let mail of mails">
          <ion-row>
            <ion-col col-9><b *ngIf="mail.isUnread == true">
              <p (click)="loadMail(mail.objectId, mail.objectFolder)">
              from: {{ mail.from}} <br> 
              {{ mail.date }} <br>
              {{ mail.subject }} 
              </p>
            </b> 
            <p *ngIf="mail.isUnread != true" (click)="loadMail(mail.objectId, mail.objectFolder)">
                from: {{ mail.from}} <br> 
                {{ mail.date }} <br>
                {{ mail.subject }} 
              </p> </ion-col>
            <ion-col text-right>
              <ion-icon name="attach" *ngIf="mail.icoattach == true"></ion-icon><br>
              <ion-icon name="flag" *ngIf="mail.isFlagged != false"></ion-icon><br>
              <ion-icon name="information-circle" *ngIf="mail.isPriority == true"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item> 
      </div> 
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="nextpage($event)" *ngIf="nxp == true">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="More data &hellip;"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer>
  <ion-buttons end>
    <button ion-button (click)="createMail()">{{'compose_new_new_message' | translate}}</button>  
  </ion-buttons> 
</ion-footer>