<ion-header>
  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
  <ion-row>
    <ion-searchbar
      [(ngModel)]="myInput"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-row>
</ion-header>

<!--ion-menu [content]="content">
  <ion-list #content>
    <ion-item text-wrap *ngFor="let btn of impFolder">
      <button ion-item  [navPush]="MailsSend">(click)="loadMails(btn.id)"
        <h2>{{ btn.label }}</h2>
        <p>id: {{ btn.id }}, contid: {{ btn.contid }}</p>
      </button>
      
    </ion-item>
  </ion-list>
</ion-menu-->
<ion-content>
  <!--div id="topbuttons"-->
    <!--button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
    </button-->
    <!--button ion-button icon-only><ion-icon name="skip-backward" (click)=""></ion-icon></button-->
  <!--/div>
  <br-->
  <ion-list>
    <div *ngIf="items">
      <ion-item text-wrap *ngFor="let mail of items">
        <ion-row>
          <ion-col col-10><b *ngIf="mail.isUnread == true">
            <p (click)="loadMail(mail.objectId, mail.objectFolder)">
            from: {{ mail.from}} <br> 
            {{ mail.date }} <br>
            {{ mail.subject }} 
            </p>
          </b> 
          <p *ngIf="mail.isUnread != true" (click)="loadMail(mail.objectId, mail.objectFolder)">
              from: {{ mail.from}} <br> 
              {{ mail.date }} <br>
              {{ mail.subject }} 
            </p> </ion-col>
        <ion-col text-right>
          <ion-icon name="attach" *ngIf="mail.icoattach == true"></ion-icon><br>
          <ion-icon name="flag" *ngIf="mail.isFlagged != false"></ion-icon><br>
          <ion-icon name="information-circle" *ngIf="mail.isPriority == true"></ion-icon>
        </ion-col>
        </ion-row>
      </ion-item> 
    </div> 
    <div *ngIf="!items">
      <ion-item text-wrap *ngFor="let mail of mails">
          <ion-row>
            <ion-col col-10><b *ngIf="mail.isUnread == true">
              <p (click)="loadMail(mail.objectId, mail.objectFolder)">
              from: {{ mail.from}} <br> 
              {{ mail.date }} <br>
              {{ mail.subject }} 
              </p>
            </b> 
            <p *ngIf="mail.isUnread != true" (click)="loadMail(mail.objectId, mail.objectFolder)">
                from: {{ mail.from}} <br> 
                {{ mail.date }} <br>
                {{ mail.subject }} 
              </p> </ion-col>
            <ion-col text-right>
              <ion-icon name="attach" *ngIf="mail.icoattach == true"></ion-icon><br>
              <ion-icon name="flag" *ngIf="mail.isFlagged != false"></ion-icon><br>
              <ion-icon name="information-circle" *ngIf="mail.isPriority == true"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item> 
      </div> 
  </ion-list>  
</ion-content>
<ion-footer>
  <ion-buttons end>
    <button ion-button (click)="createMail()">Creer un nouveau message</button>  
  </ion-buttons> 
</ion-footer>