<ion-header>
  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="newtask()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item text-wrap *ngFor="let t of data">
    <ion-row>
      <ion-col col-8>
        <p (click)="openTask(t.objectId)">
          {{ t.label }} <br>
          {{ t.eDate }} <br>
          {{ t.status }}
        </p>
      </ion-col>
      <ion-col col-2>
        <button ion-button>
          <ion-icon name="md-create" (click)="editTask(t.objectId)"></ion-icon><!-- t.objectId, t.label-->
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button (click)="deleteTask(t.objectId)">
          <ion-icon name="ios-trash-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="nexpage($event)" *ngIf="nxp == true">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="More data &hellip;"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
