<ion-header>
  <ion-navbar>
    <ion-title>Contact: {{ cn }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>{{ cn }}</h1>
  <em>{{ job }}</em> <br><br>
  <!--{{ bth | json }}-->
  <ion-row *ngFor="let b of bth" >
    <div *ngIf="b.value != ''" >
      <ion-col col-4 *ngIf="b.type=='dbirthday'" text-left>Birthday</ion-col>
      <ion-col col-4 *ngIf="b.type=='dwedding'" text-left>Wedding</ion-col>
      <ion-col col-4 *ngIf="b.type=='dother'" text-left>Other</ion-col>
      <ion-col col-8 text-right>{{ b.day }}/{{ b.month }}/{{ b.year }}</ion-col>
    </div>
  </ion-row>
  <hr>
  <ion-row *ngFor="let c of cnotes">
    <div *ngIf="c.value != ''">
      <ion-col col-4>Notes</ion-col>
      <ion-col col-8>Toto</ion-col>
    </div>
  </ion-row>
</ion-content>
