<!--
  Generated template for the MailsinglePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  from : {{ from }} <br>
  to: <span *ngFor="let t of to">{{ t.addr }}<br></span>
  <p *ngIf="cc !=''">cc: <span *ngFor="let c of cc">{{ c.addr }}<br></span></p>
  <p [innerHTML]="sub"></p><br>
  date: {{ date }} <br>
  <p [innerHTML]="text"></p>
</ion-content>
